body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;  
}

@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    section {
        padding: 15px;
    }
}

nav {
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #007bff;
  }

#about {
  padding: 10px;
  margin: 10px;
  text-align: left;
}

#about p {
  width: 50%;
}

#skills {
  padding: 10px;
  margin: 10px;
  text-align: right;
}

#project {
  height: 650px;
  width: 50%;
  margin: 10px;
  padding: 10px;
}

iframe {
  position: absolute;
}